{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <button class="btn btn-info" style="margin: 15px; margin-left: 5px;"> Создание нового ограничения </button>
        <section class="row">
            <section class="col col-lg-8 col-sm-8 col-md-8 col-xs-8 text-center">
                <h2 style="color: #ffedca;">Список ограничений</h2>
            </section>
        </section>
        <section class="row" style="margin: 5px;">
            <section class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">
                <h4 style="color: #ffedca">Идентификатор ограничения</h4>
            </section>
            <section class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">
                <h4 style="color: #ffedca">Название ограничения</h4>
            </section>
            <section class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">
                <h4 style="color: #ffedca">Тип ограничения</h4>
            </section>
            <section class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">
                <h4 style="color: #ffedca">Процент</h4>
            </section>
            <section class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">
                <h4 style="color: #ffedca">Действия</h4>
            </section>
        </section>
        {% for restriction in restrictions %}
            <section class="row" style="margin: 5px;">
                <section class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center table-bordered">
                    <h4 style="color: #b8dcf2">{{ restriction.id }}</h4>
                </section>
                <section class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center table-bordered">
                    <h4 style="color: #b8dcf2">{{ restriction.name }}</h4>
                </section>
                <section class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center table-bordered">
                    <h4 style="color: #b8dcf2">{{ restriction.humanizedType }}</h4>
                </section>
                <section class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center table-bordered">
                    <h4 style="color: #b8dcf2">{{ restriction.percent }}%</h4>
                </section>
                <section class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center table-bordered">
                    <h4 style="color: #b8dcf2">Редактировать</h4>
                </section>
            </section>
        {% endfor %}
    </div>
{% endblock %}