{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <button class="btn btn-info" style="margin: 15px; margin-left: 5px;">Создание новой акции</button>
        <section class="row" style="margin-bottom: 15px; margin-left: 5px">
            <section class="col col-lg-8 col-sm-8 col-md-8 col-xs-8 text-center">
                <h2 style="color: #ffedca;">Список акций</h2>
            </section>
        </section>
        <section class="row" style="margin-left: 5px;">
            <section class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">
                <h4 style="color: #ffedca">Идентификатор акции</h4>
            </section>
            <section class="col col-lg-4 col-sm-4 col-md-4 col-xs-4 text-center">
                <h4 style="color: #ffedca;">Название акции</h4>
            </section>
            <section class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">
                <h4 style="color: #ffedca">Действия</h4>
            </section>
        </section>
        {% for action in actions %}
            <section class="row" style="margin-left: 5px;">
                <section class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center table-bordered">
                    <h4 style="color: #b8dcf2">{{ action.id }}</h4>
                </section>
                <section class="col col-lg-4 col-sm-4 col-md-4 col-xs-4 text-center table-bordered">
                    <h4 style="color: #b8dcf2;">{{ action.name }}</h4>
                </section>
                <section class="col col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center table-bordered">
                    <h4 style="color: #b8dcf2">Редактировать</h4>
                </section>
            </section>
        {% endfor %}
    </div>
{% endblock %}