{% extends 'base.html.twig' %}

{% block body %}
    <form action="">
        <div>
            <label for="card_number_filter">Введите номер карты</label>
            <input type="card_number_filter" name="card_number_filter">
        </div>
        <input type="submit" value="Найти">
    </form>
{% endblock %}