{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="dashboard">
            <a href="">Карточка участника</a>
        </div>
        <div class="dashboard">
            <a href="">Создание нового пользователя</a>
        </div>
        <div class="dashboard">
            <a href="">Акции</a>
        </div>
        <div class="dashboard">
            <a href="">Ограничения</a>
        </div>
        <div class="dashboard">
            <a href="">Магазины</a>
        </div>
        <div class="dashboard">
            <a href="">Отчеты</a>
        </div>
    </section>
{% endblock %}
{% block stylesheets %}
    <style>
        .dashboard {
            display: inline;
            padding: 5px;
            margin: 5px;
            background-color: #29fcdc;
            border: 1px solid #3efcb4;
            font-size: 150%;
            font-weight: bolder;
        }
        .dashboard a {
            text-decoration: none;
            color: #624229;
        }
    </style>
{% endblock %}
