{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="dashboard">
            <a href="">Карточка участника</a>
        </div>
        <div class="dashboard">
            <a href="{{ path('user_create') }}">Создание нового пользователя</a>
        </div>
        <div class="dashboard">
            <a href="{{ path('action_list') }}">Акции</a>
        </div>
        <div class="dashboard">
            <a href="{{ path('restriction_list') }}">Ограничения</a>
        </div>
        <div class="dashboard">
            <a href="">Магазины</a>
        </div>
        <div class="dashboard">
            <a href="">Отчеты</a>
        </div>
    </section>
{% endblock %}

